body {
background-color: Green;

}


h1 {
	color: black;
	font-size: 35px;
	font-style: normal;
	border: 3px solid GhostWhite;
	margin: auto;
	padding: 20px;
	text-align: center;
	background-color: #F8F8FF;
	border-radius: 25px;
	
}

h2 {
	color: black;
	font-size: 20px;
	font-style: normal;
	text-align: center;
	position: relative;
	
}

h3 {
	color: black;
	font-size: 15px;
	font-style: normal;
	text-align: center;
	position: relative;
	bottom: 14px;
	
}

h4 {
	color: black;
	font-size: 35px;
	font-style: normal;
	text-align: left;
	position: relative;
	bottom: -10px;
	
}

h5 {
	text-algin: left;
	color: black;
	font-size: 35px;
	position: relative;
	bottom: -20px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

