body {
background-color: Green;

}


h1 {
	color: black;
	font-size: 35px;
	font-style: normal;
	border: 3px solid GhostWhite;
	margin: auto;
	padding: 20px;
	text-align: center;
	background-color: #F8F8FF;
	border-radius: 25px;
	
}

h2 {
	color: black;
	font-size: 20px;
	font-style: normal;
	text-align: center;
	position: relative;
	
}

h3 {
	color: black;
	font-size: 15px;
	font-style: normal;
	text-align: center;
	position: relative;
	bottom: 14px;
	
}

h4 {
	font-size: 30px;
	position: relative;
	bottom: -40px;
	
}

#firstParagraph {

	border: 2px solid black;
	margin: auto;
	padding: 1px;
	color: black;
	text-align: left;
	line-height: 10pt;
	background-color: GhostWhite;
	width: fit-content;
	position: relative;
	left: -665px;
	top: 14px;
	font-size: 20px;
	
}
#secondParagraph {

	border: 2px solid black;
	margin: auto;
	padding: 1px;
	color: black;
	text-align: left;
	line-height: 10pt;
	background-color: GhostWhite;
	width: fit-content;
	position: relative;
	left: -565px;
	top: 14px;
	font-size: 20px;
}

#thirdParagraph {

	border: 2px solid black;
	margin: auto;
	padding: 1px;
	color: black;
	text-align: left;
	line-height: 10pt;
	background-color: GhostWhite;
	width: fit-content;
	position: relative;
	left: -610px;
	top: 14px;
	font-size: 20px;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}